<html>
    <head>
        <title>Tag your Spotify</title>
        {% if not current_user.is_anonymous %}
            Navigate: 
            <a href="{{ url_for('index') }}">Search</a>
            <a href="{{ url_for('show_tags') }}">Tags</a>
            |
        {% endif %}
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('register') }}">Register</a> <a href="{{ url_for('login') }}">Login</a>
        {% else %}
            Logged in as {{ current_user }} (<a href="{{ url_for('logout') }}">Log out</a>)
        {% endif %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>